.card{
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 300px;
}
.card >p , h4{
    margin: 0;
}
/* .instructionList{
    list-style-type: none;
} */